.logo.animFluidConect {
    animation: logoAnimConect 1s ease-in-out forwards;
}

.logo.animStaticConect {
    animation: logoAnimConect 0s ease-in-out forwards;
}

@keyframes logoAnimConect {
    to {
        transform: translate(0px, 0px) scale(1);
    }
}

.name.animFluidConect {
    animation: nameAnimConect 1s ease-in-out forwards;
}

.name.animStaticConect {
    animation: nameAnimConect 0s ease-in-out forwards;
}

@keyframes nameAnimConect {
    to {
        transform: translate(0px, 0px) scale(1);
    }
}

.slogan.animFluidConect {
    animation: sloganAnimConect 1s ease-in-out forwards;
}

.slogan.animStaticConect {
    animation: sloganAnimConect 0s ease-in-out forwards;
}

@keyframes sloganAnimConect {
    to {
        transform: translateY(0px) scale(1);
    }
}
