.boxSplashInit {
    position: absolute;
    width: 300px;
    height: 368px;
    margin: 0;
    z-index: 0;
}

.boxSplashInit > * {
    position: absolute;
}

.rectUp {
    transform: translateY(-82px);
}

.rectDown {
    transform: translateY(184px);
}

.bordUp {
    transform: translate(-202px, -153px);
}

.bordDown {
    transform: translate(55px, 277px);
}

.logo {
    transform: translate(71px, 105px);
}

.name {
    font-size: 20px;
    transform: translateY(81px);
    width: inherit;
    text-align: center;
    color: white;
}

.slogan {
    width: inherit;
    text-align: center;
    font-size: 14px;
    transform: translateY(269px);
    color: white;
}

.optionBtn {
    position: absolute !important;
    color: white !important;
    z-index: 2000;
    top: 20px;
    right: 19px;
    transform: scale(0) rotate(270deg);
}
