body {
    width: 300px;
    height: 368px;
    overflow: hidden;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MuiMenu-paper {
    max-height: calc(100% - 10px) !important;
}

.MuiTooltip-tooltip {
    max-width: 150px !important;
}

.MuiTypography-root {
    cursor: default;
}

a {
    cursor: pointer !important;
}
