.containerConnect {
    z-index: 1000;
    position: absolute;
    text-align: center;
    opacity: 0;
    animation: dataAnim 0.3s 0.3s forwards;
    color: white;
}

@keyframes dataAnim {
    to {
        opacity: 1;
    }
}
